{% extends "base.html" %}
{% block content_hero %}
    {% if content_hero %}
    {{ content_hero }}
    {% endif %}
{% endblock %}
{% block content_main %}
<h1>{{ project_title }}</h1>
{% if project_server_active %}
<div class="notification is-primary">
    The chat server is currently <strong>online</strong>. Try it out below!
</div>
{% else %}
<div class="notification is-danger">
    The chat server is currently <strong>offline</strong>. Click "Restart" to try and restart the server.
    <button class="button">Restart</button>
</div>
{% endif %}
{{ content_main|safe }}
{% endblock %}