{% extends "base.html" %}

{% block content_main %}
<section class="section">
    <h1 class="title">{{ project_title }}</h1>
    <div class="columns is-mobile">        
        {% if not project_server_active %}
        <div class="notification is-danger column is-three-quarters">
            The chat server is currently <strong>offline</strong>. Click "Restart" to try and restart the server.
        </div>
        {% endif %}
    </div>
    <div class="block">
    {{ content_main|safe }}
    </div>
</section>
{% endblock %}