<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page_title %}
    <title>{{ page_title }} | Andre Mottier</title>
    {% else %}
    <title>Andre Mottier</title>
    {% endif %}
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/main.js"></script>

    {% for script in scripts %}
    <script src="{{ script }}"></script>
    {% endfor %}
    {% for style in styles %}
    <link rel="stylesheet" href="{{ style }}" />
    {% endfor %}
</head>

<body class="has-navbar-fixed-top">
    {% include 'navbar.html' %}
    
    {% if self.content_hero() %}
    <section class="hero is-fullheight-with-navbar">
        <div class="hero-head columns is-centered mx-0">
            {% block content_hero_head %}
            {% endblock %}
        </div>
        <div class="hero-body columns is-centered m-0 pb-0">
            <div class="column is-half-tablet is-one-third-fullhd">
                <div class="container has-text-centered">
                {% block content_hero %}
                {% endblock %}
                </div>
            </div>
        </div>
        <!-- <div class="hero-foot columns is-centered m-0">
            <div class="column is-half-tablet is-one-third-fullhd">
                <div class="container has-text-centered">
                {% block content_hero_foot %}
                {% endblock %}
                </div>
            </div>
        </div> -->
    </section>
    {% endif %}
    <section class="container">
    {% block content_main %}
    {% endblock %}
    </section>
</body>

</html>