<!-- <nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation"> -->
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <!-- <div class="container"> -->
        <div class="navbar-brand">
            <!-- <a class="navbar-item">
                <img src="" width="112" height="28">
            </a> -->
        
            <a id="navbarMenuButtonBurger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuHeroA">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ url_for('main.index') }}" class="navbar-item">
                    Home
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" id="findMe">
                        Projects
                    </a>
            
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ url_for('projects.index') }}">
                            About
                        </a>
                        <a class="navbar-item" href="{{ url_for('projects.chat_page.index') }}">
                            Chat Server
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="https://github.com/moottier/andremottier.com/issues">
                            Report an issue
                        </a>
                    </div>
                </div>

                
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.profile') }}" class="navbar-item">
                    Profile
                </a>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.login') }}" class="navbar-item">
                    Login
                </a>
                <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                    Sign Up
                </a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                    Logout
                </a>
                {% endif %}
            </div>
        </div>
    <!-- </div> -->
</nav>