{% extends "base.html" %}

{% block content_main %}
<section class="section">
    <h1 class="title is-1">{{ project_title }}</h1>
    <div class="columns">
        <div class="column is-one-third">
            <form id="resize-file-form" name="resize-file-form" class="block" target="submit">            
                <div class="field">
                    <div class="file has-name">
                        <label class="file-label">
                            <input id="resize-file" class="file-input" type="file" form="resize-file-form" name="file" accept=".gif,.ico,.png,.webp,.jpeg,.jpg">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choose a file…
                                </span>
                            </span>
                        </label>
                        <span id="resize-file-name" class="file-name"></span>
                    </div>
                    <p class="help">Max filesize 5 MB</p>
                </div>
                <div class="field">
                    <label class="label">Height</label>
                    <div class="control">
                        <input class="input" type="number" form="resize-file-form" size="5" name="height" placeholder="New height">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Width</label>
                    <div class="control">
                        <input class="input" type="number" form="resize-file-form" size="5" name="width" placeholder="New width">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                    <button id="resize-file-submit" class="button is-link" form="resize-file-form" type="submit">Resize</button>
                    </div>
                </div>
            </form>
            <div id="resize-file-download-wrap" class="block hidden notification is-link is-light">Download your file <a id="resize-file-download" href="javascript:;">here</a></div>
            <div id="resize-file-message" class="block hidden undisplayed notification is-danger is-light">Error!</div>
        </div>
        <div class="column is-two-thirds">
            <picture id="resize-file-preview" class="image is-square is-512x512-from-tablet">
                <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=">
                <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=">
            </picture>
        </div>
    </div>
</section>
<section class="section">
    <div class="content">
        <h2 class="title is-2">Project Details</h2>
        <h3 class="title is-3">Background</h3>
        <p>Image-resizer is used by this website to resize images before upload. Whenever images are uploaded to this site a script generate several resized versions of the image. Resized images are stored locally and user screensize determines which is served.</p>
        <p>Code for the project is available on GitHub at <a href="https://github.com/moottier/image_resizer">moottier/image_resizer</a>.</p>
        <p>This page is a simple frontend for the script. You can try uploading images and resizing them. A preview of your resized image will appear near the resizing form. Click resize to generate your new image. The server will process the image and provide a download link.</p>
        <h3 class="title is-3">Next Steps</h3>
        <p>This project could be improved by:</p>
        <ul>
            <li>documenting and exposing a REST API outside the form</li>
            <li>adding other image editing options</li>
            <li>allowing batch upload and resizing</li>
        </ul>
        <p>Overall I'm fairly happy with what this does and I'm not looking to make many changes to the core code.</p>
        <p>If you have a suggestion or find an issue free to submit an issue <a href="https://github.com/moottier/image_resizer/issues">pull request</a>.</p> 
    </div>
</section>
{% endblock %}