<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/main.js"></script>

    {% for script in scripts %}
    <script src="{{ script }}"></script>
    {% endfor %}
    {% for style in styles %}
    <link rel="stylesheet" href="{{ style }}" />
    {% endfor %}
</head>

<body class="has-navbar-fixed-top">
    <section class="hero is-fullheight">
    <!-- <section class="hero is-fullheight is-primary"> -->

        <div class="hero-head">
            {% include 'navbar.html' %}
        </div>

        <div class="hero-body">
        <!-- <div class="hero-body is-light"> -->
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>